.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    padding: 20px 100px;
}

.header__logo {
    height: 70px;
}

ul.nav,
ul.post-list {
    list-style-type: none;
}

header .nav-list__item {
    display: inline-block;
    padding: 19px 10px;
}

.nav-list__link {
    text-transform: uppercase;
}

.nav-list__link:hover,
.active {
    border-bottom: 2px solid #42b983;
}