* {
    margin: 0;
    box-sizing: border-box;
    cursor: url(./images/cookie.cur) 2 2, auto;
}

body {
    margin: 0;
    color: #34495e;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #2c3e50;
}

ul {
    padding: 0;
}

.wrap {
    width: 700px;
    margin: 0 auto;
}

.container {
    margin: 2em 10px;
}

.post-list {
    margin: 2em 0;
}